:root {
  font-family: Inter, sans-serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

* {
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
  padding: 20px 20px;
  top: 0;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

/* Logo */
.navbar-logo img {
  height: 40px;
}

/* Navbar Menu */
.navbar-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar-menu ul li {
  margin: 0;
}

.navbar-menu a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navbar-menu a:hover {
  color: #007bff;
}

.main-container {
  padding: 40px;
}

.first-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-container img {
  height: 300px;
}

.main-container .about-me {
  padding: 80px;
  max-width: 700px;
}

.second-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.third-container {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.projects-section h2 {
  text-align: center;
}

.container-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: #f1f1f1;
  border-radius: 15px;
  box-shadow: 0 1px 8px rgba (0, 0, 0, 0.3);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  padding: 20px;
  flex: 1 1 300px;
  min-width: 300px;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-description {
  font-size: 1em;
  color: #333;
  margin-bottom: 40px;
}

.card-link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  background-color: #222;
  padding: 10px 20px;
  border-radius: 20px;
}

.footer {
  text-align: center;
  background-color: #222;
  padding: 20px;
  font-size: 15px;
  color: white;
}

.footer-container {
  max-width: 600px;
  margin: 0 auto;
}

.quote {
  font-style: italic;
  margin-bottom: 30px;
}
.social-links {
  margin: 20px 0;
}

.social-links a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s ease;
}

.social-links a:hover {
  color: #007bff;
  cursor: pointer;
}

.copyright {
  margin-top: 10px;
  font-size: 12px;
  opacity: 0.8;
}
